extends ./layout/index

block contenido
  main.container.mt-5
    .row 
      .col-md-5 
        img(src="img/nosotros.jpg", alt="", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe officia recusandae iusto autem porro, velit possimus! Quidem voluptas deserunt voluptate beatae sed eum molestiae numquam aspernatur? Assumenda enim aspernatur reprehenderit!
        p Lorem ipsum dolor sit ame
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.
  .listado-iconos 
    .container.mt-5.py-5.text-center
      .row  
        .col-md-4   
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis pariatur odit, velit aspernatur voluptate, excepturi vero vitae cumque magnam amet necessitatibus porro perspiciatis ex placeat maxime laudantium, tenetur dolorem reiciendis!
        .col-md-4   
          img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis pariatur odit, velit aspernatur voluptate, excepturi vero vitae cumque magnam amet necessitatibus porro perspiciatis ex placeat maxime laudantium, tenetur dolorem reiciendis!
        .col-md-4   
          img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Mejores Precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis pariatur odit, velit aspernatur voluptate, excepturi vero vitae cumque magnam amet necessitatibus porro perspiciatis ex placeat maxime laudantium, tenetur dolorem reiciendis!
          