extends ./layout/index

block contenido
  main.container.mt-5
    h1.text-center.mt-5 #{pagina}
      .blockuote.text-center Lee sobre nuestros clientes y sus experiencias 
      include ./layout/bloque_testimoniales
      .row

        .col-md-12
          h2.d-block.w-100.text-center Agregar un Testimonial
          if(errores)
            each error in errores 
              .alert.alert-danger(role="alert")= error.mensaje


        .row.justify-content-center.col
          .col-md-8 
            form(action="/testimoniales" method="POST")
              .form-group
                label(for="nombre") Nombre
                input#nombre.form-control(type="text" placeholder="Tu Nombre" name="nombre" value= nombre)
              .form-group
                label(for="correo") Correo Electrónico
                input#correo.form-control(type="text" placeholder="Tu Correo" name="correo" value= correo)
              .form-group
                label(for="mensaje") Mensaje
                textarea#mensaje.form-control(placeholder="Tu Mensaje" name="mensaje" rows="3" )= mensaje
              input.btn-success.btn-block(type="submit" value="Enviar")